<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
     <u>Welcome to PaperTrue!</u>
    </h1>
    <img width="200" alt="Angular Logo" src="https://t4.ftcdn.net/jpg/01/19/95/81/240_F_119958196_sOK9TLMOIYlAuOXhLkKDbcCgtl1vgk1P.jpg">
  </div>
  
  
  


<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center copyright">
    <p>
        <a href="#" target="_top">
             User Registration and Login  </a>
    </p>
    <p>
            Copyright&copy; <a href="#" target="_top">Sambit Kumar Padhy</a>
         
    </p>
  </div>